.App {
  text-align: left;
  margin: 0;
  font-family:sans-serif;
  background-color: #101634;
}

.App-link {
  color: #61dafb;
}

/* MAIN APP */

p {
  font-size: 16px;
  font-weight: 200;
  color: white;
}

h1 {
  font-size: 48px;
  color: white;
}

h2 {
  color: white;
  margin: 1rem 0rem;
}

.readme_text {
  font-weight: 400;
  margin-bottom: 4rem;
  margin-right: 10vw;
}

.skill_bubble {
  margin: 1rem;
  padding: 0.5rem;
  border: 2px solid #DEEBEE;
  border-radius: 5px;
  min-width: 5%;
  text-align: center;
}

.skill_bubble:hover {
  background-color: #93BDFC;
  transition: 0.2s;
}

.skill_text {
  margin: 0;
}

.problem_div {
  height: 60vh;
  border: 2px dashed white;
  padding: 1rem;
}

.vertical_scroller {
  height: 100%;
  overflow-y: scroll;
  margin: 1rem;
}

.image-container {
  padding: 10px; /* Add padding for spacing between images */
  min-width: 20vh;
}

.image-container img {
  display: block;
  margin-bottom: 10px;
  max-width: 100%;
}

/* HEADER */
.App-header {
  text-align: center;
  margin: 0;
  height: 60vh;
  display: flex;
  justify-content: space-between;
  background: linear-gradient(to left, #93A4FC, #101634);
}

.header-text-box {
  padding: 5% 0% 5% 15%;
}

.header-text {
  color: white;
  font-size: 24px;
}

.header-sub-text {
  color: #93A4FC;
  font-size: 20px;
}


/* EXPERIENCE BUBBLES */

.experience_bubble {
  height: auto;
  border: 2px solid white;
  border-radius: 10px;
  margin-bottom: 1rem;
  padding: 2rem;
}

.experience_bubble:hover {
  background-color: rgba(222, 235, 238, 0.2);
  transition: 0.2s;
  box-shadow: 0 4px 10px #93BDFC;
}

.focus {
  background-color: rgba(222, 235, 238, 0.2);
  box-shadow: 0 4px 10px #93BDFC;
}

.experience_workplace {
  font-size: 20px;
  color: white;
}
.experience_title {
  font-size: 16px;
  color: #93A4FC;
  margin: 0;
}
.experience_duration {
  font-size: 20px;
  color: #93A4FC;
}
.experience_point_list {
  margin: 1rem 0rem;
}
.experience_point {
  font-size: 16px;
  font-weight: 200;
  color: #93BDFC;
  margin-bottom: .5rem;
}
.experience_skills {
  width: 100%;
  text-align: right;
  font-size: 16px;
  color: #93A4FC;
}

.mobile_only {
  display: none;
}

.horizontal_scroller {
  width: 80vw;
  overflow-x: scroll;
}

.mobile_only {
  height: 100%;
}

/* Hide some elements on mobile */
@media only screen and (max-width: 768px) {

  .mobile_only {
    display: inline;
  }

  .hide-on-mobile {
    display: none;
  }

  .App {
    text-align: center;
  }

  .App-header {
    height: auto;
    justify-content: center;
    background: linear-gradient(to bottom, #93A4FC, #101634);
    padding: 5vw;

  }

  .header-text-box {
    padding: 0;
  }

  .readme_text {
    margin-right: 0;
  }

  .vertical_scroller {
    margin: 0;
  }

  .experience_top_holder {
    flex-direction: column;
  }

  .experience_bubble {
    padding: 1rem;
    justify-content: center;
    text-align: center;
  }

  .experience_workplace {
    margin: 1rem 0 0 0;
  }

  .experience_skills {
    text-align: center;
  }

  .experience_point_list {
    list-style-type: "-";
    padding: .5rem;
  }
}